<div class="row">
  <div class="cols-sm-2" *ngFor="let photo of photos">
    <div style="margin-right: 20px; margin-bottom: 10px;">
    <img src="{{photo.url}}" class="img-thumbnail p-1" alt="">
    <div class="text center">
      <button 
      class="btn btn-sm" 
      type="button"
      (click)="setMainPhoto(photo)"
      [ngClass]="photo.isMain ? 'btn-success' : 'btn color-boton'"
      [disabled]="photo.isMain"
      ><fa-icon [icon]="faChevronUp"></fa-icon> Main</button>

      <button 
      class="btn btn-sm btn-danger" 
      type="button" 
      (click)="deletePhoto(photo.id)"
      [disabled]="photo.isMain"
      style="margin-left: 3px"><fa-icon [icon]="faTrash"></fa-icon></button>
    
    </div>
  </div>
  </div>
</div>